a {
  color: black
}

::placeholder {
  color:black
}

.scroll{
  overflow: scroll;
  height: 80%
}

.bold {
  font-weight: bold;

}

.error_messages {
  color: red;
}

.center_title {
  text-align: center;
}
