<h2>Choose Product to buy from {{company.name}}</h2>

<div ng-repeat='error in errors'>
  <p>{{error.message}}</p>
</div>
<form ng-submit='start()'>
  <a href='/#!/add_product/{{company._id}}'class="waves-effect waves-light btn">Add New Product</a><br><br>
  OR <br><br>
  Select Product
  <select class='browser-default' ng-options='product as product.name for product in company.products' ng-model='_product'></select><br>
  <button class="btn waves-effect waves-light" type="submit" name="action">Add to Order</button>
  <br>
</form><br>



<h3>Products Selected</h3>
<form ng-submit='confirmOrder()'>
<div ng-repeat='product in products track by $index'>
    {{product.name}}
    <input ng-model='order.buyPrice[$index]' type='number' step='any' min='.01' class='browser-default' placeholder='Buy Price' required>
    <input ng-model='order.quantity[$index]' type='number' min='1' class='browser-default' placeholder='Quantity' required>
</div>

<h3>Address to send Order to</h3>
<input type="text" ng-model='order.address.name' placeholder='Name' required>
<input type="text" ng-model='order.address.street' placeholder='Address' required>
<input type="text" ng-model='order.address.city' placeholder='City' required>
<input type="text" ng-model='order.address.zipcode' placeholder='ZipCode' required>
<input type="text" ng-model='order.address.state' placeholder='State' required>

<button class="btn waves-effect waves-light" type="submit" name="action">Confirm Order</button>
</form><br>
<a href='/#!/add_order'class="waves-effect waves-light btn">Cancel</a>
