
<div class="container">
  <h1>Add Company</h1>
  <form name='form' ng-submit='ACC.create()'>
    <input type="text" ng-model='company.name' placeholder="Company Name" required>
    <input type="text" ng-model='company.email' placeholder="Email" required>
    <input type="number" ng-model='company.phone' placeholder="Phone Number" required>
    <input type="text" ng-model='company.address.street' placeholder="Street and Number" required>
    <input type="text" ng-model='company.address.city' placeholder="City" required>
    <input type="number" ng-model='company.address.zipcode' placeholder="Zipcode" required>
    <input type="text" ng-model='company.address.state' placeholder="State" required>
    <button class="btn waves-effect waves-light" type="submit" name="action">Create</button>
    <a href='/#!/add_order'class="waves-effect waves-light btn">Cancel</a>
  </form>
</div>
