<nav>
  <div class="orange nav-wrapper">
    <a href="#!/userdashboard" class="brand-logo right">BMN Inventory<span ng-if="DC.currentUser.admin === 0"><i>Super Admin</i></span><span ng-if="DC.currentUser.admin === 1"><i>Admin</i></span></a>
    <ul>
      <li class="active"><a href="#!/userdashboard">Dashboard</a></li>
      <li><a href="#!/inventory">Inventory</a></li>
      <li><a href="#!/orders">Orders</a></li>
      <li><a href="#!/add_order">Add Order</a></li>
      <li><a ng-if="DC.currentUser.admin !== 2" href='#!/show_users'>Users</a></li>
      <li><a href="#!/companies">Companies</a></li>
      <li><a href="#!/" ng-click="DC.logout()">Logout</a></li>
    </ul>
  </div>
</nav>
<div class="container">
  <h1>Add Company</h1>
  <form name='form' ng-submit='ACC.create()'>
    <input type="text" ng-model='company.name' placeholder="Company Name" required>
    <input type="text" ng-model='company.email' placeholder="Email" required>
    <input type="number" ng-model='company.phone' placeholder="Phone Number" required>
    <input type="text" ng-model='company.address.street' placeholder="Street and Number" required>
    <input type="text" ng-model='company.address.city' placeholder="City" required>
    <input type="number" ng-model='company.address.zipcode' placeholder="Zipcode" required>
    <input type="text" ng-model='company.address.state' placeholder="State" required>
    <button class="btn waves-effect waves-light" type="submit" name="action">Create</button>
    <a href='/#!/add_order'class="waves-effect waves-light btn">Cancel</a>
  </form>
</div>
