<nav>
  <a href="#!/admindashboard">Dashboard</a> - <a href="#!/inventory">Inventory</a> - <a href="#!/orders">Orders</a> - <a href="#!/companies">Companies</a> - <a href='#!/logout'>Logout</a>
  <!-- Add your Navigation Here -->
</nav>
<div class='red lighten-2'>
  <h1>Dashboard</h1>
  <div class="container">
    <p><a href='#!/add_order'>Add Order</a></p>
    <div><h5>Incoming Shipments</h5>
      <p ng-repeat="order in orders">{{order._id}}</p>
    </div>
    <div><h5>Outgoing Orders</h5>
      <p ng-repeat="userorder in userorders">{{order._id}}</p>
    </div>
    <div><h5>Inventory</h5>
      <p ng-repeat="product in products">{{order._id}}</p>
    </div>
  </div>
</div>
