<!-- orders page - sortable and filterable table of products -->

<h1>Companies</h1>

<input ng-model="search" placeholder="search products...">

<div class="scroll">
  <div ng-repeat="company in companies">
    <hr>
    <span>Company ID: {{company._id}}</span>
    <br>
    <span>Name: {{company.name}}</span>
    <br>
    <span>Email: {{company.email}}</span>
    <br>
    <span>Phone: {{company.phone}}</span>
    <br>
    <span>Address: {{company.address.street}}</span>
    <span>{{company.address.city}}, {{company.address.state}} {{company.address.zipcode}}</span>
    <br>
    <table>
      <thead>
        <tr>
          <th>Product ID</th>
          <th>Name</th>
          <th>Quantity</th>
          <th>Price</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="product in company.products | filter: {name:search}">
          <td ng-bind="product._id"></td>
          <td ng-bind="product.name"></td>
          <td ng-bind="product.quantity"></td>
          <td ng-bind="product.sellPrice"></td>
        </tr>
      </tbody>
    </table>
  </div>

</div>
