<!-- orders page - sortable and filterable table of products -->
<nav>
  <a href="#!/dashboard">Dashboard</a> - <a href="#!/inventory">Inventory</a> - <a href="#!/orders">Orders</a> - <a href="#!/companies">Companies</a> - <a href='#!/logout'>Logout</a>
  <!-- Add your Navigation Here -->
</nav>

<h1>Companies</h1>


<input ng-model="search" placeholder="search products...">

<div class="scroll">
  <div ng-repeat="company in companies">
    <hr>
    <span class="bold">Company ID: {{company._id}}</span> - <span class="bold">Name: {{company.name}}</span>
    <br>
    <a href="#!/companies/{{company._id}}"></a>
    <span>Email: {{company.email}}</span>
    <br>
    <span>Phone: {{company.phone}}</span>
    <br>
    <span>Address: {{company.address.street}}</span>
    <span>{{company.address.city}}, {{company.address.state}} {{company.address.zipcode}}</span>
    <br>
    <table>
      <thead>
        <tr>
          <th>Product ID</th>
          <th>Name</th>
          <th>Quantity</th>
          <th>Price</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="product in company.products | filter: {name:search}">
          <td ng-bind="product._id"></td>
          <td ng-bind="product.name"></td>
          <td ng-bind="product.quantity"></td>
          <td ng-bind="product.sellPrice"></td>
        </tr>
      </tbody>
    </table>
  </div>

</div>
