<nav>

  <div class="orange nav-wrapper">
    <a href="#!/userdashboard" class="brand-logo right">BMN Inventory<span ng-if="DC.currentUser.admin === 0"><i>Super Admin</i></span><span ng-if="DC.currentUser.admin === 1"><i>Admin</i></span></a>
    <ul>
      <li class="active"><a href="#!/userdashboard">Dashboard</a></li>
      <li><a href="#!/inventory">Inventory</a></li>
      <li><a href="#!/orders">Orders</a></li>
      <li><a ng-if="DC.currentUser.admin !== 2" href='#!/show_users'>Users</a></li>
      <li><a href="#!/companies">Companies</a></li>
      <li><a href="#!/" ng-click="DC.logout()">Logout</a></li>
    </ul>
  </div>
</nav>
<div class='lighten-2'>
  <h1 class="center_title">Dashboard</h1>
  <h4>Total Inventory Value: ${{totalvalue}}</h4>
  <div class="container">
    <p><a class="waves-effect blue btn" href='#!/add_order'>Add Order</a></p>
    <div><h5>Incoming Shipments</h5>
      <a href='/#!/orders/{{order._id}}' ng-repeat="order in orders">{{order.numProducts}} product(s) for {{order.recipient.data.email}} on {{order.createdAt | date:'medium'}}<br></a>
    </div>
    <!-- <div><h5>Outgoing Orders</h5>
      <p ng-repeat="userorder in userorders">{{order._id}}</p>
    </div> -->
    <div><h5 class='waves-effect  orange waves-light btn' ng-click='isReversed=!isReversed'>Inventory</h5>
      <p ng-repeat="product in products | orderBy:createdAt:isReversed |
       limitTo:3">{{product.name}}</p>
    </div>
  </div>
</div>
