<div class="section no-pad-bot" id="index-banner">
  <div class="container">
    <br><br>
    <h1 class="header center orange-text">Inventory Management</h1>
    <div class="row center">
      <h5 class="header col s12 light">A modern Inventory Management Web App gives your company a new standard that your company deserve</h5>
    </div>
    <div class="row center">
      <a href="http://materializecss.com/getting-started.html" id="download-button" class="btn-large waves-effect waves-light orange">Register Here!</a>
    </div>
    <div class="row center">
      <h5 class="header col s12 light">OR</h5>
      <h5 class="header col s12 light">Login Below</h5>
    </div>
    <br><br>
    <form class="col">
      <div class="row">
        <div class="input-field col s6">
          <input id="email" type="email" class="validate" placeholder="Enter Your Email">
          <label for="email">Email</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <input id="password" type="password" class="validate" placeholder="Enter Your Password">
          <label for="password">Password</label>
        </div>
      </div>
      <button class="btn waves-effect waves-light orange" type="submit" name="action">Login
      </button>
    </form>
  </div>
</div>
