<nav>
  <a href="#!/dashboard">Dashboard</a> - <a href="#!/inventory">Products</a> - <a href="#!/orders">Orders</a> - <a href="#!/companies">Companies</a> - <a href='#!/logout'>Logout</a>
  <!-- Add your Navigation Here -->
</nav>

<span class="bold">Order #: {{order._id}}</span> 

<div ng-repeat="product in order.products">
  <span class="bold">Product #: {{product._id}}</span> - <span class="bold">Name {{product.name}}</span>
  <span>Company: {{product.company.name}}</span>
  <span>Quantity in stock: {{product.quantity}}</span>
  <span>Buy Price: {{product.buyPrice}}</span>
  <span>Sell Price: {{product.sellPrice}}</span>
</div>
