<!-- orders page - sortable and filterable table of products -->
<nav>
  <a href="#!/userdashboard">Dashboard</a> - <a href="#!/inventory">Inventory</a> - <a href="#!/orders">Orders</a> - <a href="#!/companies">Companies</a> - <a href='#!/logout'>Logout</a>
  <!-- Add your Navigation Here -->
</nav>

<h1>Orders</h1>
<div ng-repeat='error in errors'>
  <p>{{error.message}}</p>
</div>
<input ng-model="search" placeholder="search products...">

<div class="scroll">
  <div ng-repeat="order in orders">
    <hr>
    <span class="bold">Order ID: {{order._id}}</span> - <span class="bold">{{order.products.length}} Product(s)</span>
    <br>
    <a href="#!/orders/{{order._id}}"><button>View Order</button></a>
    <br>
    <span>Placed By: {{order.recipient.data.first_name}}</span>
    <br>
    <span>Placed On: {{order.createdAt}}</span>
    <br>
    <table>
      <thead>
        <tr>
          <th>Product ID</th>
          <th>Name</th>
          <th>Quantity</th>
          <th>Price:</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="product in order.products | filter: {name:search}">
          <td ng-bind="product._id"></td>
          <td ng-bind="product.name"></td>
          <td ng-bind="product.quantity"></td>
          <td ng-bind="product.sellPrice"></td>
        </tr>
      </tbody>
    </table>
  </div>

</div>
