<nav>
  <a href="#!/userdashboard">Dashboard</a> - <a href="#!/inventory">Inventory</a> - <a href="#!/orders">Orders</a> - <a href="#!/companies">Companies</a> - <a href='#!/logout'>Logout</a>
  <!-- Add your Navigation Here -->
</nav>
<span class="bold">Order #: {{order._id}}</span><br>
<span>Company: {{order.sender.name}}</span><br>

<div ng-repeat="product in order.products">
  <span class="bold">Product #: {{product._id}}</span><br>
  <span class="bold">Name:  {{product.name}}</span><br>
  <span>Quantity bought: {{product.quantity}}</span><br>
  <span>Buy Price: {{product.buyPrice}}</span>
</div><br>

<a class="waves-effect waves-light btn" ng-click='receiveOrder()'>Recieved Order</a>
