<nav>
    <div class="orange nav-wrapper">
      <a href="#!/userdashboard" class="brand-logo right">BMN Inventory</a>
      <ul class="left hide-on-med-and-down">
        <li class="active"><a href="#!/userdashboard">Dashboard</a></li>
        <li><a href="#!/inventory">Inventory</a></li>
        <li><a href="#!/orders">Orders</a></li>
        <li><a href="#!/companies">Companies</a></li>
        <li><a href="#!/" ng-click="DC.logout()">Logout</a></li>
      </ul>
    </div>
  </nav>

<div class='lighten-2'>
  <h1>Dashboard</h1>
  <div class="container">
    <p><a href='#!/add_order'>Add Order</a></p>
    <div><h5>Incoming Shipments</h5>
      <p ng-repeat="order in orders">{{order._id}}</p>
    </div>
    <div><h5>Outgoing Orders</h5>
      <p ng-repeat="userorder in userorders">{{order._id}}</p>
    </div>
    <div><h5>Inventory</h5>
      <p ng-repeat="product in products">{{order._id}}</p>
    </div>
  </div>
</div>
